<div id="<%= dom_id user %>">
  <p>
    <strong>Show:</strong>
    <%= user.show %>
  </p>

  <p>
    <strong>Edit:</strong>
    <%= user.edit %>
  </p>

  <p>
    <strong>Update:</strong>
    <%= user.update %>
  </p>

  <p>
    <strong>Destroy:</strong>
    <%= user.destroy %>
  </p>

</div>
