<div id="<%= dom_id option %>">
  <p>
    <strong>Title:</strong>
    <%= option.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= option.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= option.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= option.price %>
  </p>

</div>
