<% @cart_items.each do |item| %>
    <li class="sm:flex items-center py-6 border-b border-slate-200">
        <div class="block mb-4 sm:mb-0 mr-5 md:w-32 xl:w-auto shrink-0" style="width: 200px; height: 142px">
            <%= image_tag item.driving_course.img_url, class: "rounded-sm" , alt: "Photo du produit" , style:"width: 200px; height: 136px" %>
        </div>
        <div class="grow">

            <h3 class="text-lg font-semibold mb-1">
                <%= item.driving_course.title %>
            </h3>

            <div class="flex flex-wrap justify-between items-center">
                <!-- Rating and price -->
                <div class="flex flex-wrap items-center space-x-2 mr-2">

                    <!-- Price -->
                    <div>
                        <div
                            class="inline-flex text-xl font-semibold uppercase text-gold">
                            <%= '%.0f' % item.driving_course.price %> €
                        </div>
                    </div>
                </div>
                    <%= form_with(url: cart_item_path(item.id), method: :delete) do |f| %>  
              
                            <%= button_tag(type: "submit", class: "btn border-slate-900 hover:border-slate-300") do %>
                                 <svg class="w-4 h-4 fill-current text-rose-500 shrink-0" viewBox="0 0 16 16">
                                <path d="M5 7h2v6H5V7zm4 0h2v6H9V7zm3-6v2h4v2h-1v10c0 .6-.4 1-1 1H2c-.6 0-1-.4-1-1V5H0V3h4V1c0-.6.4-1 1-1h6c.6 0 1 .4 1 1zM6 2v1h4V2H6zm7 3H3v9h10V5z"></path>
                                </svg>
                            <% end %>
                    <% end %>
            </div>
        </div>
    </li>
<%end%>