<p style="color: green"><%= notice %></p>

<div class="px-4 sm:px-6 lg:px-8 py-8 w-full flex h-screen bg-neutral-900">

    <!-- Page content -->
    <div class="max-w-5xl mx-auto flex flex-col lg:flex-row lg:space-x-8 xl:space-x-16">

        <!-- Cart items -->
        <div class="mb-6 lg:mb-0">
          
            <header class="mb-2">
                <!-- Title -->
                <h1 class="text-2xl md:text-3xl text-white underline underline-offset-8 font-bold"> RESERVATION ✨</h1>
            </header>
            
            <ul>
                <%= render "cart_items" %>
            </ul>

            <div class="mt-6 text-center lg:text-left">
                <a class="text-sm font-medium text-gold hover:text-gold" href="#0">&lt;- Back To Shopping</a>
            </div>

        </div>

        <!-- Sidebar -->
        <div class="max-w-sm mx-auto lg:max-w-none">
            <div class="bg-white p-5 shadow-lg rounded-sm border border-slate-200 lg:w-72 xl:w-80">
                <div class="text-slate-800 font-semibold mb-2">Récapitulatif</div>
                <!-- Order details -->
                <ul class="mb-4">

                    <li class="text-sm w-full flex justify-between py-3 border-b border-slate-200">
                        <div>Total du panier</div>
                        <div class="font-medium text-emerald-600"><%= @cart.total %></div>
                    </li>
                </ul>
                <!-- Promo box -->
                <div class="mb-6">
                    <div class="flex items-center justify-between">
                        <label class="block text-sm font-medium mb-1" for="promo">Promo Code</label>
                        <div class="text-sm text-slate-400 italic">optional</div>
                    </div>
                    <input id="promo" class="form-input w-full mb-2" type="text">
                    <button class="btn w-full bg-gold hover:bg-gold text-white disabled:border-slate-200 disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-not-allowed shadow-none" disabled="">Apply Code</button>
                </div>
                <div class="mb-4">
                    <%= form_tag checkout_create_path, method: :post, data: { turbo: false } do %>
                    <input type="hidden" name="total" value="<%= @cart.total %>" />
                    <%= submit_tag "Buy Now - #{@cart.total}  €", class: "btn w-full bg-gold hover:bg-gold text-white" %>
                    <% end %>
                </div>
                <div class="text-xs text-slate-500 italic text-center">Racing School Group vous remercie de votre réservation <a class="underline hover:no-underline" href="#0">Terms</a>.</div>
            </div>
        </div>

    </div>

</div>

  