<div id="<%= dom_id driving_course %>">
  <p>
    <strong>Title:</strong>
    <%= driving_course.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= driving_course.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= driving_course.date %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= driving_course.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= driving_course.price %>
  </p>

</div>
